doctype
html(lang="en")
    head
        include includes/header.pug
    body
        include includes/navbar.pug
        .container
            .jumbotron.text-center
                h1.display-3 Games
                hr
        //- .container
        //-     .card-group
        //-         for game of games
        //-                 .card.m2.bg-transparent(style='width: 13rem;')
        //-                     a(href='/games/'+game.name) #[img.card-img-top(src=`${game.img}`, alt=game.name)]
        //-                     .card-body(style='color: #b7b7b7;')
        //-                         h5.card-title #{game.name}
        //-                         p.card-text #{game.description}
        //-                         //- h5.card-text(style='color: #00bbf3; margin-bottom: 0.8rem;') Categories: #{server.tagsString}
        //-                         //- a.btn.btn-primary(href=`${server.inv}`, style="margin-right: 0.3rem;") #[i.fa-solid.fa-arrow-right-to-bracket] Join
        //-                         //- a.btn.btn-danger(href='/report/'+server.reportID) #[i.fa-solid.fa-gavel] Report
        .container
            .row.row-cols-1.row-cols-md-5.g-4
                for game of games
                    .col
                        .card.m2.bg-transparent(style='width: 13rem;')
                            a(href='/'+game.l) #[img.card-img-top(src=`${game.img}`, alt=game.name)]
                            .card-body(style='color: #b7b7b7;')
                                h5.card-title #{game.name}
                                p.card-text #{game.description}
                                //- h5.card-text(style='color: #00bbf3; margin-bottom: 0.8rem;') Categories: #{server.tagsString}
                                //- a.btn.btn-primary(href=`${server.inv}`, style="margin-right: 0.3rem;") #[i.fa-solid.fa-arrow-right-to-bracket] Join
                                //- a.btn.btn-danger(href='/report/'+server.reportID) #[i.fa-solid.fa-gavel] Report